<div class="playback-view">
   <h1>FIDELIS IG</h1>
   <h2>DIGITAL DESIGN SYSTEM</h2>
   <h3>Custom Card</h3>
   <p>This card is just a demo to show custom fonts, custom colours, custom rounded.</p>
   <div class="">
      <div class="color-box white"></div>
      <div class="color-box dark-green"></div>
      <div class="color-box teal"></div>
      <div class="color-box medium-green"></div>
      <div class="color-box grey"></div>
      <div class="color-box light-teal"></div>
   </div>
  
   
</div>
